*.[oa]
*~
!lib.a
/TODO
build/
# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
doc/**/*.pdf

*.pyc
__pycache__/
_pycache_/
