{% extends "base_generic.html" %}

{% block content %}
    <h1>My Cart</h1>

    <form action="" method="get">
        <h2>Filter Results</h2>
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    <!-- Don't put the sub-header inside the template tag body or it will be
    inserted in the document several times-->
    <h2>Results</h2>
    {% for obj in filter.qs %}
        <li>
            <a href="{{ obj.get_absolute_url }}">
                <p>
                    <img src="{{ obj.thumbnail.url }}"
                    alt="Small image of {{obj.title}}"
                    width="120" height = "80">
                </p>
                <p>{{ obj.title }}</p>
            </a>
        </li>
    {% endfor %}
{% endblock %}
