{% extends "base_generic.html" %}

{% block content %}
    <h1>My Cart</h1>
    {% if shoppingcart.cartitem_set.exists %}
    <form action="{% url 'clear_cart' pk=shoppingcart.id %}" method="GET">
        {% csrf_token %}
        <button type="submit">Clear Cart</button>
    </form>
    <form action="{% url 'jewelry' %}" method="GET">
        {% csrf_token %}
        <button type="submit">Back to Shopping</button>
    </form>
    <form action="{% url 'place_order' %}" method="GET">
        {% csrf_token %}
        <button type="submit">Place Order</button>
    </form>
    <table>
        <theader>
            <tr>
                <th>Quantity</th>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </theader>
        <tbody>
            {% for cartitem in shoppingcart.cartitem_set.all %}
            <tr>
                <td>{{ cartitem.count }}</td>
                <td>
                    <a href="{{ cartitem.jewelry_item.get_absolute_url }}">
                    <img src="{{cartitem.jewelry_item.thumbnail.url}}"
                    width="120" height = "80">
                    </a>
                </td>
                <td>
                <a href="{{ cartitem.jewelry_item.get_absolute_url }}">
                    {{ cartitem.jewelry_item.title }}
                </a>
                </td>
                <td>{{ cartitem.jewelry_item.price }}</td>
                <td>{{ cartitem.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfooter>
            <tr>
                <th>Total</th>
                <td>{{ shoppingcart.total_price }}</td>
            </tr>
        </tfooter>
    </table>
    {% else %}
    <p>There are items in your cart.</p>
    {% endif %}
{% endblock %}
